<style>
    .content {
        width: 100%;
    }

    .text, .image {
        float: left;
    }

    .text {
        width: 65%;
    }

    .image {
        margin: 10px;
        width: 350px;
    }

        .image img {
            width: 89%;
            /*width: 100%;*/
        }
</style>

<div style="margin-top:3%">
    <div class="row">
        <div class="col-xs-10 well WellBackground">
            @*<div class="content">*@
            <h1 style="color:#006150;font-weight:900;font-size:20px;">Welcome to <br /> Old Mutual Staff Volunteerism Community</h1>
            <div class="text">
                <p style="color:#006150;font-size:18px;">Whether it's painting murals on a township creche,caring for abandoned animals,cleanin up the environment or giving the eldery and children a special treat, Care & Share is the time to down tools, roll up your sleeves and make a real difference in the communities in which we operate</p>
                <br />
                <h2 style="color:#006150;font-weight:900;font-size:15px;">Have a heart,have fun and care & share! </h2>
            </div>

            <div class="image">
                <div class="arrows prev"></div>
                <img src="~/Images/proceed.png" /><div class="arrows next"></div>
            </div>
            @*</div>*@
        </div>
    </div>
</div>

<div class="col-xs-10">
    <a href="@Url.Action("Dashboard", "Home")"><button type="button" class="btn btn-primary5">Proceed to your Dashboard</button></a>
</div>



@*<div style="margin-top:5%">
        <div class="row">
            <div class="col-xs-12 well WellBackground">
                    <h1 style="color:#006150;font-weight:900;font-size:20px;">Welcome to <br /> Old Mutual Staff Volunteerism Community</h1>
                    <div class="image" style="float:right;">
                      <span class="glyphicon glyphicon-chevron-left" style="top: 136px;font-size: 21px;color:#6eaa24;"></span><span class="glyphicon glyphicon-chevron-right" style="float:inherit;top: 136px;color:#6eaa24;font-size: 21px;"></span><img style="float:right;margin-right: -1px;" src="~/Images/proceed.png" />
                    </div>

                <p class="text" style="color:#006150;font-size:15px;">
                    Whether it's painting murals on a township creche,caring for abandoned animals,cleanin up the environment or giving the eldery and children a special treat, Care & Share is the time to down tools, roll up your sleeves and make a real difference in the communities in which we operate
                </p>
                    <br />
                    <h2 style="color:#006150;font-weight:900;font-size:15px;">Have a heart,have fun and care & share! </h2>
                </div>
            </div>
        <a href="http://localhost:59376/Home/Index"><button type="button" class="btn btn-primary5">Proceed to your Dashboard</button></a>

        </div>

    <br />
    <br />
    <br />
    <br />*@